<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="payflex_config_save" type="Payflex\Gateway\Model\Config\PayflexConfigSave" sortOrder="10"/>
    </type>
</config>